<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-dark"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row ">
        <hr class="my-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              DWISH
            </h6>
              <p>
              A l'origine de Dwish, il y a l'amour des bons produits et du bien manger ❤️. <br>
              On s'est lancé comme mission de redorer le blason de ce cher Lord Sandwich 🤴 ! <br>
              en proposant un vrai et bon sandwich avec des produits frais et maison 👩‍🍳.<br>
              </p>
            </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Liens utiles</h6>
            <p>
              <%= link_to'Contactez-nous', page_path('contact_us'), class: 'text-dark'%> 
            </p>
            <p>
              <%= link_to'Recrutement', page_path('recruitment'), class: 'text-dark'%> 
            </p>
            <p>
              <%= link_to'À propos', page_path('about_us'), class: 'text-dark'%> 
            </p>
            <p>
              <%= link_to'Presse', page_path('media'), class: 'text-dark'%> 
            </p>
          </div>

          <!-- Grid column -->

                    <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Informations légales</h6>
            <p>
              <%= link_to'Politique de confidentialité', page_path('privacy_policy'), class: 'text-dark'%> 
            </p>
            <p>
            <%= link_to'CGV', page_path('cgv'), class: 'text-dark'%>
            </p>
            <p>
            <%= link_to'Cookies', page_path('contact'), class: 'text-dark'%>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> 2 rue Edmond Rostand</p>
            <p><i class="fas fa-print mr-3"></i> 13006 MARSEILLE</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> 07 67 10 30 14</p>
          </div>

          <!-- Grid column -->
                    <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Horaires</h6>
            <p><i class="fas fa-clock mr-3"></i> Lundi au vendredi : 11h30 - 15h30</p>
            <p><i class="fas fa-lock mr-3"></i> Fermé le week-end</p>
          </div>
          <!-- Grid column -->

        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- CGV -->
            <div class="p-3">
              <p>Nos réseaux</p>
            </div>

            
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <!-- Facebook -->
            <a
               class="btn btn-outline-light btn-floating m-1 bg-dark"
               class="text-dark"
               role="button"
               href="https://www.facebook.com/dwish.marseille/"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1 bg-dark"
               class="text-dark"
               role="button"
               href="https://www.instagram.com/dwish.marseille/?hl=en"
               ><i class="fab fa-instagram"></i
              ></a>

            <!-- Google Map -->
            <a
               class="btn btn-outline-light btn-floating m-1 bg-dark"
               class="text-dark"
               role="button"
               href="https://www.google.com/maps/dir//dwish+marseille/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x12c9c134200c577f:0x300df3f88a414a9d?sa=X&ved=2ahUKEwjVrbXKwr3_AhVLTaQEHXkNDhkQ9Rd6BAhJEAU"
               ><i class="fab fa-google"></i
              ></a>

          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>