<div class="row">
  <div class="mx-auto col-10 col-md-8 col-lg-6">

    <h3 class="mb-4">Se connecter</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-outline mb-4">
        <%= f.label :email, "E-mail", class:"form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="form-outline mb-4">
        <%= f.label :password, "Mot de passe", class:"form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-outline mb-4">
          <%= f.check_box :remember_me, class:"form-check-input", class:"form-control" %>
          <%= f.label :remember_me, "Se souvenir de moi", class:"form-label" %>
        </div>
      <% end %>

      <div class="form-outline mb-4">
        <%= f.submit "Continuer", class:"btn btn-dark btn-block mb-4" %>
      </div>
    <% end %>
      
      <div  class="form-outline mb-4">
        <%= render "devise/shared/links", class:"link-primary" %>
      </div>

  </div>
</div>