<div class="col">
  <div id="<%= dom_id item %>" class="card mb-4" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://res.cloudinary.com/dhcqyjeip/image/upload/v1686227071/beefton_jtjpni.jpg" alt="Beef" class="img-fluid" height="auto" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><strong><%= item.name %></strong></h5>
          <div class="row">
            <div class="col">
              <p class="card-text"><%= item.description %></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text"><%= item.price %>€</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="card-text"><%= item.category.name %></p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= button_to "Ajouter au panier", cart_items_path(item_id: item.id), class: "btn btn-info btn-block", method: :post, data: { turbo: false } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
