<div id="<%= dom_id item %>">
  <%= item.image_url %>
      <img 
        class="img-fluid" 
        src="https://v2cdn1.centralappstatic.com/image/clip/700x525_gallery_c40dce14a6ee4b46930cfbe652bcd2f5.jpeg" 
        alt="miam"> 
        
        <p><strong><%= item.name %></strong></p>
        <p><%= item.description %></p>
        <p><%= item.price %> €</p>
</div>


